<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SBTransfer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net debug="true">
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="BMP-CollectedLog.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="BMP-Log.txt" />
      <appendToFile value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <!--<appender-ref ref="Console" />-->
      <appender-ref ref="FileAppender" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
 
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <userSettings>
    <SBTransfer.Properties.Settings>
      <setting name="COLLECTION_ID" serializeAs="String">
        <value>SAPilotTest</value>
      </setting>
      <setting name="CLIENT_TOPIC_QUEUE" serializeAs="String">
        <value>topic://sa_test_client</value>
      </setting>
      <setting name="CLIENT_ID" serializeAs="String">
        <value>SATestClient1</value>
      </setting>
      <setting name="PILLAR_QUEUE" serializeAs="String">
        <value>queue://sa_pillar_queue</value>
      </setting>
      <setting name="XSD_MIN_VERSION" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="XSD_VERSION" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="COLLECTION_SETTINGS_XSD_FILE_PATH" serializeAs="String">
        <value>D:\CollectionSettings.xml</value>
      </setting>
      <setting name="DEFAULT_CHECKSUM_TYPE" serializeAs="String">
        <value>MD5</value>
      </setting>
      <setting name="MESSAGE_XSD_FILE_PATH" serializeAs="String">
        <value>D:\bitrepository-message-xml-24\xsd\BitRepositoryMessages.xsd</value>
      </setting>
      <setting name="TOPIC_NAME_DURABLE" serializeAs="String">
        <value>topic://sa-test</value>
      </setting>
      <setting name="MESSAGE_BUS_CONFIGURATION_NAME" serializeAs="String">
        <value>Pilot Test Broker Network A</value>
      </setting>
      <setting name="XML_NAMESPACE" serializeAs="String">
        <value>http://bitrepository.org/BitRepositoryMessages.xsd</value>
      </setting>
      <setting name="COLLECTION_DESTINATION" serializeAs="String">
        <value>topic://SA-GENERAL-TOPIC</value>
      </setting>
      <setting name="VALID_FILENAME_REGEX" serializeAs="String">
        <value>^[a-zA-Z_\.\-0-9]+$</value>
      </setting>
      <setting name="URI_SCHEME" serializeAs="String">
        <value>http</value>
      </setting>
      <setting name="CLIENT_QUEUE" serializeAs="String">
        <value>queue://sa_test_client</value>
      </setting>
      <setting name="SSL_BROKER" serializeAs="String">
        <value>failover://(ssl://10.50.32.200:61616?transport.clientcertfilename=D:/client.cer&amp;amp;transport.ClientCertPassword=testen)?initialReconnectDelay=100</value>
      </setting>
      <setting name="MAX_EXECUTING_ITEMS" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="COMMON_QUEUE" serializeAs="String">
        <value>ssl://10.50.32.200:61616?transport.clientcertfilename=C:/Downloads/Apache/apache-activemq-5.5.1/conf/broker_cert.cer</value>
      </setting>
      <setting name="IdentificationTimeout" serializeAs="String">
        <value>120000</value>
      </setting>
      <setting name="OperationTimeout" serializeAs="String">
        <value>120000</value>
      </setting>
      <setting name="MAX_NUMBER_OF_REQUEST_RETRIES" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PILLAR_IDS" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>SBTape1</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="PORT_RANGE" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>80</string>
            <string>8080</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TIME_TO_WAIT_AFTER_TIMEOUT" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ADDRESS_FOR_FILE_TRANSFER" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="SessionTypePath" serializeAs="String">
        <value>c:\SB.txt</value>
      </setting>
      <setting name="TempFilePath" serializeAs="String">
        <value>c:\SBTemp</value>
      </setting>
      <setting name="NewLogPath" serializeAs="String">
        <value>c:\NewLogs</value>
      </setting>
      <setting name="OldLogPath" serializeAs="String">
        <value>c:\OldLogs</value>
      </setting>
    </SBTransfer.Properties.Settings>
  </userSettings>
</configuration>
