<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ClientAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ClientAPI.Properties.Settings>
      <setting name="CONNECTION_STRING" serializeAs="String">
        <!--<value>ssl://int-bitmag-01.kb.dk:47777?transport.clientcertfilename=C:/BitMagStuff/int-bitmag-01.cer</value>-->
      </setting>
    </ClientAPI.Properties.Settings>
  </userSettings>
</configuration>